form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"]{
    margin-bottom: 5px;
}

#page2 div{
    display: flex;
    flex-direction: row;
}

#page2 div input{
	margin-top: 8px;
    flex-basis: 100%;
}